body {
  width: 500px;
  height:100%;
}

.fa {
 font-size: 2em;
 margin-left: 8px;
}

.fa:hover{
  cursor:pointer;
  color: red;
}

.inline {
  display:inline;
}

.library {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight:700;
  font-size:48px;
  padding-bottom:20px;
}

audio {
  width:100%;
  position:absolute;
  bottom:0;
  padding-bottom:20px;
  color:#ff0;
}

.artist {
  padding-left: 15px ;
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
}

.title{
  padding-left: 15px ;
  font-family: 'Open Sans', sans-serif;

}
.red { color:red;}
.black { color: black; }
