body {
  background: url(bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FFF3E0;
}



.fa {
 font-size: 2em;
 margin-left: 8px;
}

.fa:hover{
  cursor:pointer;
  color: #FF9800;
}

.inline {
  display:inline;
}

.heading {
  font-size:48px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight:700;
  padding:10px 0 30px 10px;
        background-color:rgba(0,0,0,0.4);


}

.libary tr {
  font-size:18px;
}

audio {
  width:100%;
  position:absolute;
  bottom:0;
  padding-bottom:20px;
  padding-top: 20px;
  background-color: #141414;
  opacity: 0.75;

}

.artist {
  padding-left: 10px ;
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
        background-color:rgba(0,0,0,0.4);

}

.title{
  padding-left: 15px ;
        background-color:rgba(0,0,0,0.4);

  font-family: 'Open Sans', sans-serif;

}
.red { color:red;}
.black { color: black; }

body {
  margin: 0;
}
